.theme-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #1e293b;
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

/* Light Mode */
body.light {
  background: #f8fafc;
  color: #020617;
}

body.light .section,
body.light .alt {
  background: #ffffff;
}

body.light p,
body.light li {
  color: #334155;
}

.hero {
  height: 100vh;
  background: url("assets/images/val-bg.webp") center / cover no-repeat fixed;
  position: relative;
}

.video-hero {
  position: relative;
  overflow: hidden;
}

.video-hero video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.section-image {
  width: 180px;
  display: block;
  margin: 0 auto 30px;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}
